{% load static %}

<!DOCTYPE HTML>
<html>

<head>
  <title>Futbol-Jugadores</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  <script src="{% static 'javaScript/mostrarJugadores.js' %}"></script>
  <script src="{% static 'javaScript/buscarNacionalidad.js' %}"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'index' %}">Admin<span class="logo_colour">Futbol</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'listaLigas' %}">Ligas</a></li>
          <li><a href="{% url 'listaEquipos' %}">Equipos</a></li>
          <li class="selected"><a href="{% url 'listaJugadores' %}">Jugadores</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <details>
            <summary>Jugadores a mostrar</summary>
            {% for jugador in listaJugadores %}
            <p data-nacionalidad="{{ jugador.nacionalidad }}">
                {{ jugador.nombre }} 
                <input type="checkbox" name="jugador_{{ jugador.id }}" value="{{ jugador.id }}" checked>
            </p>
            {% empty %}
                <li>No hay jugadores disponibles.</li>
            {% endfor %}
            <label for="buscarJugadores">Buscar por Nacionalidad:</label>
            <input type="text" id="buscarJugadores" name="buscarJugadores" placeholder="Nacionalidad: ">
            </details>
        </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Paginas oficiales</h3>
            <ul>
              <li><a href="https://www.laliga.com/es-GB">La Liga</a></li>
              <li><a href="https://www.premierleague.com/">Premier League</a></li>
              <li><a href="https://www.legaseriea.it/en">Serie A</a></li>
              <li><a href="https://www.bundesliga.com/es/bundesliga">Bundesliga</a></li>
              <li><a href="https://ligue1.com/">League 1 </a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Jugadores</h1>
        <ul>
        {% for jugador in listaJugadores %}
            <li>
              <div class="equipoFormato" data-jugador-id="{{ jugador.id }}" data-nacionalidad="{{ jugador.nacionalidad|lower }}">
                  <a href="{% url 'detalleJugador' jugador.id %}">
                      <img class="ListaLogoEquipo" src="{{ jugador.imagenJugador }}" alt="{{ jugador.nombre }} logo">
                      <p>{{ jugador.nombre }} {{ jugador.apellidos }}</p>
                  </a>
              </div>
            </li>
        {% empty %}
            <li>No hay jugadores registrados.</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; simplestyle_6 | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">Free CSS Templates</a></p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
